<%- include("includes/head.ejs")%>
<body>
    <%- include("includes/navigation.ejs")%>
    <h1>Add a User!</h1>
    <form action="/users" method="POST">
        <input type="text" name="user"/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>