<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all-products">All Products</a></li>
            <li><a href="/cart">View Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>