
        <% if(products.length>0) {%>
            <%for(let prod of products){%>
                <p>
                    <%=prod.productTitle%>
                </p>
                <%}%>
                    <%} else {%>
                        <h3>No Products Found!</h3>
                        <% }%>
