<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <center>
                    <h1>Welcome to Raptas Shop!</h1>
                </center>
            </main>

    </body>

    </html>