<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h1>All Products</h1>
                <% if(products.length>0) {%>
                    <%for(let prod of products){%>
                        <p>
                            <%=prod.productTitle%>
                        </p>
                        <%}%>
                            <%} else {%>
                                <h3>No Products Found!</h3>
                                <% }%>

            </main>

    </body>

    </html>