<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation-admin.ejs') %>

    <main>
        <form action="/product" method="POST">
            <input type="text" name="productTitle">
            <button type="Submit">Add Product</button>
        </form>
    </main>

</body>

</html>