doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{shopTitle}
  body
    header
      nav
        ul
          li
            a(href="/") Shop
          li
            a(href="/add-product") Add Product
    main
      h1 Welcome!
      div
        each prod in product 
            p #{prod.title}
