<header>
    <nav>
        <ul>
            <li><a href="/">Client Home</a></li>
            <li><a href="/admin">Admin Home</a></li>
            <li><a href="/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>