<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation-admin.ejs') %>

            <main>
                <form action="/product" method="POST">

                    <div>
                        <label for="title">Product Title</label>
                        <input type="text" name="productTitle" id="title" required>
                    </div>
                    <div>
                        <label for="price">Price</label>
                        <input type="number" name="productPrice" id="price" required>
                    </div>
                    <div>
                        <label for="description">Product Description</label>
                        <textarea name="productDescription" id="description" rows="4"></textarea>
                    </div>

                    <button type="Submit">Add Product</button>
                </form>
            </main>

    </body>

    </html>